.wraper {
    border: 0 none;
    border-radius: 30px;
    margin-top: 2rem;
    height: 50px;
    background-color: #cfffbe;
    cursor: pointer;
    text-align: center;
    font-family: "inter", sans-serif;
    transition: 0.3s
}

.wraper:hover {
    background-color: #8ae16b;

}